@font-face {
  font-family: "Inter-Bold";
  src: url("fonts/Inter-Bold.eot");
  src: url("fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Inter-Bold.woff2") format("woff2"), url("fonts/Inter-Bold.woff") format("woff"), url("fonts/Inter-Bold.ttf") format("truetype"), url("fonts/Inter-Bold.svg#Inter-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("fonts/Inter-SemiBold.eot");
  src: url("fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Inter-SemiBold.woff2") format("woff2"), url("fonts/Inter-SemiBold.woff") format("woff"), url("fonts/Inter-SemiBold.ttf") format("truetype"), url("fonts/Inter-SemiBold.svg#Inter-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Medium.eot");
  src: url("fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Inter-Medium.woff2") format("woff2"), url("fonts/Inter-Medium.woff") format("woff"), url("fonts/Inter-Medium.ttf") format("truetype"), url("fonts/Inter-Medium.svg#Inter-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
body {
  background: #f8f8ff;
  font-family: Inter;
}

.listview-container {
  display: flex;
}
.listview-container > div {
  margin-right: 2em;
}
.listview-container > div:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .listview-container > div {
    display: none;
  }
  .listview-container > div.show {
    display: block;
  }
}
.listview-container .listview-div {
  padding: 2em 1em;
  margin-bottom: 2em;
  background: white;
  position: relative;
  display: none;
}
.listview-container .listview-div.show {
  display: block;
}
.listview-container .listview-div:last-child {
  margin-bottom: 0;
}
.listview-container .listview-div.registered::before {
  content: "";
  background: green;
  height: 100%;
  width: 3px;
  position: absolute;
  left: 0;
  top: 0;
}
.listview-container .listview-div.registered .status {
  color: green;
  font-weight: bold;
}
.listview-container .listview-div.deregistered::before {
  content: "";
  background: red;
  height: 100%;
  width: 3px;
  position: absolute;
  left: 0;
  top: 0;
}
.listview-container .listview-div.deregistered .status {
  color: red;
  font-weight: bold;
}

.filter-div {
  margin-bottom: 2em;
}
.filter-div:last-child {
  margin-bottom: 0;
}
.filter-div .link-flex {
  display: flex;
  border: 1px solid black;
  border-radius: 2em;
  width: fit-content;
  overflow: hidden;
}
.filter-div .link-flex > a {
  padding: 1em;
  border-right: 1px solid black;
  flex: 1;
  white-space: nowrap;
  cursor: pointer;
}
.filter-div .link-flex > a:last-child {
  border-right: none;
}
.filter-div .link-flex > a.selected {
  background: blue;
  color: white;
}